.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.launch-btn{
  width: 20%;
  height: 20%;
}

a{
  text-decoration: none;
}

.mobile-only{
  display: none;
}
@media screen and (max-width: 600px){
  .mobile-only{
      display: block;
  }
}